.Login_main{
    display:flex;
    width: 95%;
    height: 100%;
    border-color: black;
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
    align-content: center;
}

.left{
    width: 65%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 10px;
}

.right{
    width: 35%;
    height: 100%;
    background-color: rgb(177, 233, 233);
    border-radius: 10px;
}

